*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    height: 100vh;
    width: 340px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f8f7;
    gap: 10px;
}

.para{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}

.imgclass{
    height: 200px;
    width: 200px;
}

.alerth{
    color: red;
}
.imagesizing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.widlen{
    display: flex;
    justify-content: center;
    
}

.sizebtn{
    border: 2px solid white;
    background: white;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    padding: 3px;
}

.sizebtn img{
    height:15px;
    width: 15px;
}